@if (placesLoadError()) {
  <div class="text-center">
    Impossible de charger les lieux.
    <p-button label="Réessayer" [text]="true" (onClick)="loadPlaces()" />
  </div>
} @else if (placesLoaded() && places().length < 2) {
  <div class="text-center">
    Veuillez configurer 2 lieux pour utiliser cette fonctionnalité.
    <a [routerLink]="['/', ADMIN_PATH, PLACE_PATH, 'new']"> Ajouter un lieu</a>
  </div>
} @else if (placesLoaded()) {
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="flex flex-col gap-2 m-2">
      <label for="place">Choisir un lieu</label>
      <div class="w-full">
        <p-select
          inputId="place"
          class="w-full"
          formControlName="place"
          [options]="places()"
          optionLabel="label"
          [virtualScroll]="true"
          [virtualScrollOptions]="placeScrollerOptions"
          [virtualScrollItemSize]="43"
        />
      </div>
    </div>
    <div class="flex flex-col gap-2 m-2">
      <label for="dateSearch">Choisir une date</label>
      <p-datepicker
        inputId="dateSearch"
        class="w-full max-w-max"
        formControlName="dateSearch"
        [showTime]="true"
        hourFormat="24"
        dateFormat="dd/mm/yy"
      />
    </div>
    <div>
      <p-button
        [disabled]="form.invalid"
        [loading]="calculating()"
        label="Calculer"
        ariaLabel="Calculer"
        type="submit"
      />
    </div>
  </form>

  @if (result(); as result) {
    <h2>Résultats</h2>
    <p>
      Le {{ result.search.date | date: "dd/MM/yyyy 'à' HH:mm" }} à
      {{ result.search.place.label }} correspond à :
    </p>
    @for (data of result.response.calculateDateItemList; track data.place.id) {
      <div class="p-2">
        <span class="font-bold">{{ data.place.label }} : </span>
        {{ data.date | date: "dd/MM/yyyy 'à' HH:mm" }}
      </div>
    }
  }
} @else {
  <div class="flex justify-center">
    <p-progressSpinner ariaLabel="Chargement des lieux" />
  </div>
}
